header{
   
    background-image: url(/../assets/images/abstract-1780171_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
   
}

.background-circle {
    width: 50px; 
    height: 50px;
    background-color: #e1e1e1; 
    border-radius: 50%; 
    /* display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; */
}

.circular-image {
    width: 100%;
    height: auto;
    object-fit: cover;
}


.card{
    background-color: #f6f6f6;
    border: 0;
    border-radius: 24px;
}

.card img{
    width: 50%;
    height: auto;
}

footer{
    background-image: url(/../assets/images/abstract-1779607_1280.png);
    background-repeat: no-repeat;
    background-size: cover;
}

footer .container h1{
    font-size: 5rem;
}